h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 4rem;
    width: 30% auto;
    height: 50px;
    margin: 0px;
    color: burlywood;
}

.presupuesto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
 
}

.saludo{

    display: flex;
    width: 35%;
    flex-direction: column;
    border-radius: 50px;
    text-align: justify;
    align-items: center ;

    p{
    
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
        color: black;
    }


    #testButton{
        
        color: rgb(255, 255, 255); font-size: 15px; line-height: 15px; padding: 9px; border-radius: 18px; font-family: Georgia, serif; font-weight:900; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right,blanchedalmond 0%, blanchedalmond 50%, rgb(94, 84, 95) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid blanchedalmond; display: inline-block;}
        :hover {
        background: #c479c1; }
        :active {
        background: #df80dc; }
}
    
    
   


.tamaño{

    margin: 35px;

    p{
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 50px;

    }

    #testButton1{
        color: rgb(255, 255, 255); font-size: 15px; line-height: 15px; padding: 9px; border-radius: 18px; font-family: Georgia, serif; font-weight:900; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right,blanchedalmond 0%, blanchedalmond 50%, rgb(94, 84, 95) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid blanchedalmond; display: inline-block;}


    


}

.tipo{

    margin:  35px;
    p{
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 50px;
    }

    #testButton2{
        color: rgb(255, 255, 255); font-size: 15px; line-height: 15px; padding: 9px; border-radius: 18px; font-family: Georgia, serif; font-weight:900; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right,blanchedalmond 0%, blanchedalmond 50%, rgb(94, 84, 95) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid blanchedalmond; display: inline-block;}

}

.calidad{

    margin:  35px;
    p{
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 50px;
    }

    #testButton3{
        color: rgb(255, 255, 255); font-size: 15px; line-height: 15px; padding: 9px; border-radius: 18px; font-family: Georgia, serif; font-weight:900; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right,blanchedalmond 0%, blanchedalmond 50%, rgb(94, 84, 95) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid blanchedalmond; display: inline-block;}
}

.cantidad{
    margin:  35px;
    p{
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 50px;
    }

     #testButton4{
        color: rgb(255, 255, 255); font-size: 15px; line-height: 15px; padding: 9px; border-radius: 18px; font-family: Georgia, serif; font-weight:900; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right,blanchedalmond 0%, blanchedalmond 50%, rgb(94, 84, 95) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid blanchedalmond; display: inline-block;}
    
    
    
    
    
}


.total{

    #testButton5{
        color: rgb(255, 255, 255); font-size: 15px; line-height: 15px; padding: 9px; border-radius: 18px; font-family: Georgia, serif; font-weight:900; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right,blanchedalmond 0%, blanchedalmond 50%, rgb(94, 84, 95) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid blanchedalmond; display: inline-block;}}

